/*Articulos*/
main {
    margin-top: 80px;
    .flex-container-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-top: 20px;
        .fondo-extra {
            background-color: $color-marca;
            color: black;
            flex-basis: calc(45% - 10px);
            margin: 10px;
            box-sizing: border-box;
            border: 1px solid transparent;
            border-radius: 10px;
            padding: 10px;
        }
        .texto-particular {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            img {
                max-width: 50%;
            }
        }
    }
}

.titulo-articulos {
    background-color: $color-fondos;
    color: black;
    border-radius: 15px;
    text-align: center;
}

.h5-link-articulo {
    color: black;
    text-decoration: none;
}

@media (max-width: 767px) {
    main .flex-container-2 .fondo-extra {
        flex-basis: calc(100% - 20px);

        .texto-particular {
            img {
                max-width: 100%;
            }
        }
    }
}