/*Charlas y clips*/
.grid-container-2 {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    div {
        display: flex;
        flex-direction: column;
        .fs-1 {
            margin: 20px;
        }
    }
}

.custom-video-size {
    height: 350px; /*Alto de video*/
}

.titulo-clips {
    background-color: $color-fondos;
    color: black;
    border-radius: 15px;
    text-align: center;
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .grid-container-2 {
        grid-template-columns: 1fr;
    }

    .grid-container-2 div {
        align-items: center;
    }
}

@media (min-width: 768px) {
    .ratio-21x9 {
        height: 150px;
    }
    .ratio-16x9 {
        height: 300px;
    }
}