/*Contacto*/
.titulo-contact {
  background-color: $color-fondos;
    color: black;
    border-radius: 15px;
    text-align: center;
}

.form-group {
  padding: 5px;
}

@media (max-width: 767px) {
    .contact-form {
      padding: 20px;
    }
  
    .titulo-contact {
      font-size: 2rem;
    }
  
    .form-group {
      margin-bottom: 1rem;
    }
  
    .btn {
      width: 100%;
    }
}