/*Contacto*/

@media (max-width: 767px) {
    .contact-form {
      padding: 20px;
    }
  
    .titulo-contact {
      font-size: 2rem;
    }
  
    .form-group {
      margin-bottom: 1rem;
    }
  
    .btn {
      width: 100%;
    }
}