/*Sobre mi*/
.row {
    margin-bottom: 50px;
    .custom-section {
        max-width: 500px;
        margin: 0 auto;
        text-align: left;
    }
    .custom-image {
        max-width: 75%;
        height: auto;
        margin-top: 20px;
    }
}

.custom-bg-color {
    background-color: $color-marca;
}

.final-text {
    color: $color-marca;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 767px) {
  .flex-container-1 .row {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .custom-image {
    width: 100%;
  }

  .custom-section {
    width: 100%;
  }
}