/*Sobre mi*/
.row {
  margin-bottom: 50px;
  .custom-section {
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    background-color: $color-fondos;
    margin-bottom: 50px;
  }
  .custom-image {
    max-width: 50%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

.bg-custom {
  background-color: $color-fondos;
}

.final-text {
  color: black;
  background-color: $color-fondos;
  font-weight: bold;
  padding: 5px;
}

@media (max-width: 767px) {
  .row {
    flex-direction: row;
  }

  .custom-section, .custom-image {
    max-width: 100%;
  }

  .custom-section {
    margin-bottom: 5px;
  }
}